* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: clip;
  font-family: "Roboto", sans-serif;
  color: #343434;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100px;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
  transition: max-width 0.3s ease;
}

header.active-sidebar {
  max-width: 240px;
  transition: max-width 0.3s ease;
}

main {
  max-width: calc(100% - 100px);
  margin-left: auto;
  transition: widlth 0.3s ease;
}
main.active-sidebar {
  max-width: calc(100% - 240px);
  margin-left: auto;
  transition: widlth 0.3s ease;
}

h1,
.h1 {
  font-size: 48px !important;
  font-weight: 600 !important;
  line-height: 1.5;
  background-color: transparent !important;
}

h2,
.h2 {
  font-size: 52px !important;
  font-weight: 600 !important;
  line-height: 1.5;
  background-color: transparent !important;
}

h3,
.h3 {
  font-size: 38px !important;
  font-weight: 600 !important;
  line-height: 1.5;
  background-color: transparent !important;
}

h4,
.h4 {
  font-size: 28px !important;
  font-weight: 600 !important;
  line-height: 1.8;
  background-color: transparent !important;
}

h5,
.h5 {
  font-size: 22px !important;
  font-weight: 400 !important;
  line-height: 1.8;
  background-color: transparent !important;
}

h6,
.h6 {
  background-color: transparent !important;
}

p,
a {
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.8;
  background-color: transparent !important;
}

.headbar ul li {
  padding: 12px;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8px;
  transition: 0.3s ease;
}
.headbar ul li:hover,
.headbar ul li:hover svg path {
  background-color: #0832de;
  color: #ffff;
  stroke: #fff;
  transition: 0.3s ease;
}

.custom-btn {
  width: fit-content;
  padding: 10px 1.25rem;
}

aside {
  max-width: 7rem;
  width: 100%;
  transform: translateX(-8rem);
  transition: 0.3s ease;
  z-index: 999;
}
aside.active-aside {
  transform: translateX(0);
  transition: 0.3s ease;
}

table thead tr {
  border-bottom: 1px solid #F0F0F5;
  background-color: #F0F0F5;
}
table > tbody {
  vertical-align: inherit;
}
table tbody tr {
  cursor: pointer;
  border-bottom: 1px solid #F0F0F5 !important;
  background-color: #fff;
}
table tbody tr:hover {
  background-color: #fbfbfb !important;
  transition: 0.3s ease;
}
table tbody tr {
  font-size: 13px;
  color: var(--text-color);
  height: 50px;
  line-height: normal;
  padding: 0 15px;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
}
table tbody tr.sm-width {
  width: 36px !important;
}
table thead tr th {
  font-size: 11px;
  background: none;
  border: none;
  color: var(--text-color);
  line-height: normal;
  padding: 10px 15px;
  text-align: left;
  transition: background-color 0.3s;
  vertical-align: middle;
  white-space: nowrap;
}
button.edt-btn:hover, button.dlt-btn:hover {
  background-color: #fff;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: .3s ease;
}
button.edt-btn:hover svg path{
  stroke: #0832de;
  transition: .3s ease;
}
button.dlt-btn:hover svg path{
  stroke: #ec2a2a;
  transition: .3s ease;
}



@media screen and (max-width: 980px) {
  header {
    position: relative;
    max-width: 100%;
    width: 100%;
    z-index: 0;
    flex-direction: row !important;
    padding: 1.25rem !important;
  }
  main {
    max-width: 100%;
    margin: 0 !important;
    min-height: fit-content !important;
  }
  .md-hide {
    display: none;
  }
}
