* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}
.border{
  border: 1px solid black !important;
}

body {
  width: 100%;
  overflow-x: clip;
  font-family: "Work Sans", sans-serif;
  /* background-color: var(--body-background); */
  /* color: var(--text-color); */
}

header {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
}
